@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Currículo</h1>

Giovana Santana Tavares Lopes
3°A Informática

<section>
  <ul>
    <li>
      Futura técnica em informática
    </li>
  </ul>
  <div></div>

  <ul>
    <li>
      Experiência com Figma para protótipo do SIMC
    </li>
  </ul>

  <div></div>
  <ul>
    <li>
      Aspirante de advogada
    </li>
  </ul>

  <div></div>
  <ul>
    <li>
      Pretendo fazer faculdade de Direito
    </li>
  </ul>

<style>
  h1 {
    color: rgb(224, 27, 148);
    font-family: cursive;
  }

  section {
    color: rgb(228, 0, 122);
  }
</style>







  <div></div>
  <ul></ul>
  <div></div>
  <ul></ul>
  <div></div>
  <ul></ul>
  <div></div>
</section>

