@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<div class="pagina">
<h1>- Currículo -</h1>

<div><br></div><div class="div"><section>
  <b>
    Giovana Santana Tavares Lopes é uma estudante de nível médio no IFRO.
  </b>

  Fará Direito e conseguirá sua OAB dentro dos próximos 5 anos.

  <br>
  <br>
  Atualmente está no projeto SIMC do professor Wanderson Roger e realiza o protótipo do sistema no Figma. Sabe fazer animações no figma!
<br><br>

Participação em projeto social de apoio a mulheres estudantes

<br><br>

Nível bom e inglês

  <br>
  <br>

  Futura técnica em informática no IFRO Ji-Paraná
  <br>
  <br>

  Quer fazer Direito e seguir em Direito Imobiliário


  <br><style></style>
  <div></div>
</section>

  <img src="Cachorro com rosa dois.jpg" alt="">
</div>

</div>