@page "/"

<PageTitle>Home</PageTitle>
<div class="fundo">
<div class="pagina">
<h1 class="sobreMim">- Sobre Mim -</h1>
  <br>


<div class="div">
  

<section>

  Meu nome é Giovana. Nasci em Ouro Preto do Oeste em 2008 e hoje curso técnico em informática no IFRO de Ji-Paraná. Sou muito eclética em música e sou fã de sertanejo e rock, e até toco guitarra... Sou estudiosa e quero fazer Direito para conseguir minha OAB.
  <div><br></div>

  Amo rosa e viajar. 🩷❤️

</section>
  <img class="cachorro" src="Cachorro rosa.png" alt="">

</div>
</div>
</div>