@page "/"

<PageTitle>Home</PageTitle>

<h1>Sobre mim</h1>

Giovana Santana Tavares Lopes
3°A Informática

<section>
  <ul>
    <li>
      Nasci em Ouro Preto do Oeste
    </li>
  </ul>
  <div></div>

  <ul>
    <li>
      Estou cursando técnico em informática
    </li>
  </ul>

  <div></div>
  <ul>
    <li>
      Sou muito eclética em música
    </li>
  </ul>

  <div></div>
  <ul>
    <li>
      Toco guitarra
    </li>
  </ul>
  <div></div>
  <ul>
    <li>
      Se tiver um sertanejo que existe e eu não sei a letra, já posso sair desse mundo
    </li>
  </ul>

  <div></div>
  <ul>
    <li>
      Meu sonho é ter minha OAB
    </li>
  </ul>

  <div></div>
  <ul>
    <li>
      Giovana + casaco rosa = amor
    </li>
  </ul>

  <div></div>

</section>

<style>
  h1 {
    color: rgb(224, 27, 148);
    font-family: cursive;
  }

  section {
    color: rgb(228, 0, 122);
  }
</style>